body {
  text-align:center;
  margin-top: 100px;
  background-image: linear-gradient(lightyellow,lightblue);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.result {
  /* border: 2px black solid; */
  margin-right: 8px;
  border-radius: 10px;
  background-color: white;
  height:79px;
}
.calculator {
  padding-left: 10px;
}
.output {
    
    display: inline;
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: right;
  margin: 0px;

}

.history {
    margin: 0;
  font-size: 1.0em;
  color: lightslategray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: right;    
}
.container {
  position: relative;
  left: 380px;
  width: 240px;
  height: 440px;
  background-color: white;
  border-radius: 15px;
  padding-top: 2px;
  padding-bottom: 8px;
}
.number,
.empty,
.operator {
  outline: none;
  background-color: lightslategray;
  border: none;
  border-radius: 50%;
  padding: 23px;
  float: left;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}
.operator {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  background-color: lightcoral;
}
.empty {
  margin-left: 9px;
  background-color: white;
}
